version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.13
    steps:
      - checkout
      - run: npm install
      - run: npm run lint
      - run: npx tsc
      - run: npm run test:cov
      - run: npm run build
